
@{
    ViewData["Title"] = "pumkincatblouse";
}
<head>
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:deeppink">
    <div class="container-fluid" style="background-color:deeppink">
        <a class="navbar-brand" href="/Home/Index" style="color:white">Black Dress</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lolita Kei
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Home/vestidos">Vestidos</a></li>
                        <li><a class="dropdown-item" href="/Home/Abrigos">Abrigos</a></li>
                        <li><a class="dropdown-item" href="/Home/blusas">Blusas</a></li>
                        <li><a class="dropdown-item" href="/Home/zapatos">Zapatos</a></li>
                        <li><a class="dropdown-item" href="/Home/accesorios">Accesorios</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/carritodecompra">Carrito de compra</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/genpedprov">Administracion de Stock</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/bodega">Bodega</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/registrarse">Registarse</a></li>
            </ul>
            <form class="d-flex" method="post">
                <input class="form-control me-2" type="text" placeholder="E-mail or User" aria-label="usuario" required style="width:150px">
                <input class="form-control me-2" type="password" placeholder="Password" aria-label="contraseña" required style="width:150px">
                <button class="btn btn-outline-success" type="submit">Acceder</button>
            </form>
        </div>
    </div>
</nav>



<h1 class="h1">Pumpkin Cat -Beauty the Rose- Lolita Blouse</h1>

<br>
<figure class="figure ">
    <img src="~/img/lolita/pumpkin cat blouse/5dd35f908a.jpg.240x240.jpg" class="figure-img img-fluid rounded">
    <img src="~/img/lolita/pumpkin cat blouse/81ed623209.jpg.240x240.jpg" class="figure-img img-fluid rounded">
    <img src="~/img/lolita/pumpkin cat blouse/c923417e14.jpg.240x240.jpg" class="figure-img img-fluid rounded">
</figure>
<br>
<!--formulario para cotizar producto-->
<form method="post" action="/CarritoCompra/agregaralcarrito">
    <input type="text" name="nombre_producto" value="Pumpkin cat Blouse" readonly />
    <p>Precio</p>
    <input type="number" name="precio" value="42990" readonly />
    <p>Tamaño</p>
    <input type="text" placeholder="que talla eres?" name="talla" value="" required />
    <p>color</p>
    <input type="text" placeholder="Color" name="color" value="white" required>
    <br>
    <p>Informacion adicional</p>
    <input type="text" name="medidasCorporales" placeholder="" value="n" />
    <br>
    <p>Costos de envio: RM: $7.990, Regiones: 15.990</p>
    <br>
    <p>Entrega:</p>
    <br>
    <p>15 dias habiles</p>
    <input type="submit" class="btn btn-success" value="Agregar al carrito">
</form>

<br>


<!--Carrusel de imagenes del producto-->
<h3 class="h3">Detalles de la Blusa</h3>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/lolita/pumpkin cat blouse/1d16931421.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/2c3d5aadc0.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/2cb3ade90f.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/46067b5633.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/4893051cef.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/576ec362c1.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/6467cd484c.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/7f3e7c4ad2.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/97d3cf79e0.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/c4f41cabc3.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/da38f8cf3b.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/dbb643aa7a.jpg" class="d-block h-100 w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/lolita/pumpkin cat blouse/f984c4657c.jpg" class="d-block h-100 w-50" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev btn-dark" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-dark" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Informacion de tallas </li>
    <li class="list-group-item">
        --- Talla S: 90cm (busto); 40cm (ancho de hombros); 62cm (largo delantero de la blusa); 70cm (largo de la espalda de la blusa); 60cm (largo de manga) !!!
        --- Talla M: 93cm (busto); 42cm (ancho de hombros); 63cm (largo delantero de la blusa); 71cm (largo de la espalda de la blusa); 61cm (largo de manga) !!!
        --- Talla L: 96cm (busto); 45 cm (ancho de hombros); 64 cm (largo delantero de la blusa); 72cm (largo de la espalda de la blusa); 62cm (largo de manga) !!!
        --- Talla XL: 100cm (busto); 49cm (ancho de hombros); 65 cm (largo delantero de la blusa); 73cm (largo de la espalda de la blusa); 63cm (largo de manga) !!!
    </li>
</ul>
