
@{
    ViewData["Title"] = "Abrigos";
}


<h1>Abrigos</h1>

<br>
<!--Body group cards -->

<h4 class="h4">Abrigos</h4>
<br>
<div class="card-group">
    <div class="card">
        <a href="/Home/sweetmilkcoat"><img src="~/img/lolita/sweet milk candy girl/40570dbc54.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                Sweet Milk Candy Girl Sailor Lolita Sweet Lolita Coat
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$47.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/crownedredcoat"><img src="~/img/lolita/Crowned crane qi lolita coat and cape set/1f5a778a2d.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                The Return of the Red-crowned Crane Qi Lolita Coat and Cape Set
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$38.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/theravencoat"><img src="~/img/lolita/The raven/43d1ef2ba1.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                The Mysterious Jiu Weihu Sailor Lolita Top Wear and Skirt Set
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$84.990</small>
        </div>
    </div>
</div>
