
@{
    ViewData["Title"] = "accesorios";
}


<!--Body group cards -->

<h4 class="h4">Productos recien llegados</h4>
<br>
<div class="card-group">
    <div class="card">
        <a href="/Home/cataccesorio"><img src="~/img/lolita/The wizarded cat lolita accesories/c5e3b3204a.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                The Wizarded Cat Lolita Accessories
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$9.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/cureyoursoul"><img src="~/img/lolita/cure your soul/011baca836.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">ZangHu and ChaiChai -Cure Your Soul- Lolita Accessories</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$21.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/petticoatbell"><img src="~/img/lolita/bell shaped ajustable/71466511bc.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                Bell Shaped A-line Shaped Adjustable Chiffon 46cm Long Lolita Petticoat
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$11.990</small>
        </div>
    </div>
</div>
