
@{
    ViewData["Title"] = "Blusas";
}


<h1 class="h1">Blusas</h1>

<br>
<!--Body group cards -->

<h4 class="h4">Blusas</h4>
<br>
<div class="card-group">
    <div class="card">
        <a href="/Home/constelacionblusa"><img src="~/img/lolita/constelacion/c72269a7f4.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title h5">Embroidered Constellations Vintage Classic Lolita Blouse</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$31.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/vintageblusa"><img src="~/img/lolita/Zjstory-vintage classic lolita/0347b9578a.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                ZJ Story -Little Blanka- Vintage Classic Lolita Blouse
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$34.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/pumkinblusa"><img src="~/img/lolita/pumpkin cat blouse/5dd35f908a.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                Pumpkin Cat -Beauty the Rose- Lolita Blouse
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$42.990</small>
        </div>
    </div>
</div>
