
@{
    ViewData["Title"] = "Estadoconfecciones";
}

<head>
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="background-color:deeppink">
    <div class="container-fluid rounded pt-3 pb-3" style="background-color:deeppink">

        <a class="navbar-brand" href="/Home/Index" style="color:white">Black Dress</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lolita Kei
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Home/vestidos">Vestidos</a></li>
                        <li><a class="dropdown-item" href="/Home/Abrigos">Abrigos</a></li>
                        <li><a class="dropdown-item" href="/Home/blusas">Blusas</a></li>
                        <li><a class="dropdown-item" href="/Home/zapatos">Zapatos</a></li>
                        <li><a class="dropdown-item" href="/Home/accesorios">Accesorios</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item "><a class="nav-link" href="/Home/carritodecompra">Carrito de compra</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link " href="/Home/genpedprov">Administracion de Stock</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item "><a class="nav-link " href="/Home/Estadoconfecciones">Confecciones</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link " href="/Home/bodega">Bodega</a></li>
            </ul>

            <form class="d-flex" method="post" action="indice/login" onsubmit="">
                <input class="form-control me-2" type="text" placeholder="Rut" aria-label="Rut" required style="width:150px" name="rut" id="rut">
                <input class="form-control me-2" type="password" placeholder="Password" aria-label="contraseña" required style="width:150px" name="pass" id="pass">
                <input class="btn btn-light btn-outline-success" type="submit" value="Acceder" />
                @ViewBag.mensaje
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item "><a class="btn btn-light btn-outline-success ml-1" href="/Home/registrarse">Registarse</a></li>
            </ul>
        </div>
    </div>
</nav>
<BR>
<h1 class="h1 text-black-50 text-center">Encargar Confecciones</h1>
<hr />
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label>Nombre Producto</label>
            <input type="text" class="form-control w-75  mb-3" name="nproducto" maxlength="100" required />
        </div>
        
        <div class="col-md-6">
            <label>tallas</label>
            <input type="text" class="form-control w-75  mb-3" name="talla" maxlength="50" required /><br>

        </div>
        <div class="col-md-6">
            <label>Color</label>
            <input type="text" class="form-control w-75  mb-3" name="color" maxlength="50" required /><br>

        </div>
        <div class="col-md-12">
            <label>Medidas Corporales</label>
            <textarea class="form-control" name="medidasC" maxlength="200" required rows="2" /></textarea>
        </div>

        <div class="col-md-12">
            <label>Notas</label>
            <textarea class="form-control" name="descripcion" maxlength="200" required rows="3" /></textarea>
        </div>
    </div>
</div>


<hr class="mt-5 mb-5 " style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5 " style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">

