
@{
    ViewData["Title"] = "Estadoconfecciones";
}

<h1 class="h1 text-black-50 text-center">Encargar Confecciones</h1>
<hr />
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label>Nombre Producto</label>
            <input type="text" class="form-control w-75  mb-3" name="nproducto" maxlength="100" required />
        </div>
        
        <div class="col-md-6">
            <label>tallas</label>
            <input type="text" class="form-control w-75  mb-3" name="talla" maxlength="50" required /><br>

        </div>
        <div class="col-md-6">
            <label>Color</label>
            <input type="text" class="form-control w-75  mb-3" name="color" maxlength="50" required /><br>

        </div>
        <div class="col-md-12">
            <label>Medidas Corporales</label>
            <textarea class="form-control" name="medidasC" maxlength="200" required rows="2" /></textarea>
        </div>

        <div class="col-md-12">
            <label>Notas</label>
            <textarea class="form-control" name="descripcion" maxlength="200" required rows="3" /></textarea>
        </div>
    </div>
</div>


<hr class="mt-5 mb-5 " style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5 " style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">
<hr class="mt-5 mb-5" style="visibility: hidden; ">

