
@{
    ViewData["Title"] = "Estadoconfecciones";
}

<h1 class="h1 text-black-50 text-center">Estado de Confecciones</h1>
<hr />
<br>
<p>@ViewBag.mensaje</p>



<form method="post" action="/carritoCompra/MostrarConfecciones">
    <div class="row justify-content-center">
        <table class="table-secondary table-bordered text-center ">
            <tr class="table-primary">
                <td class="p-3">Nro orden de compra</td>
                <td class="p-3">Informacion adicional</td>
                <td class="p-3">Rut</td>
                <td class="p-3">Estado confeccion</td>
                <td class="p-3">Fecha Estimada</td>
                <td class="p-3">Valor Producto</td>
                <td class="p-3">Email</td>
                <td class="p-3">Fecha solicitud</td>
                <td class="p-3">talla</td>
                <td class="p-3">Color</td>
                <td class="p-3">Nombre del producto</td>
            </tr>

            @Html.Raw(ViewBag.pedidos)


        </table>
    </div>
    <br>
    <div class="text-center">
        <input type="submit" value="Actualizar" class="btn btn-info" />
    </div>
</form>

    <br>
    <br>
    <hr />
    <h5 class="text-center">Modificar Pedido de Confeccion</h5>
    <form method="post" action="/CarritoCompra/modificarPedido">
        <div>
            <label>Nro orden de compra</label>

            <input type="text" class="form-control w-75  mb-3" name="numerodeorden" required>

            <label>Estado de confeccion</label>

            <input type="text" class="form-control w-75  mb-3" name="estadodeconfeccion" required />

            <input type="submit" value="Modificar" class="btn btn-info" />

        </div>
    </form>

    <hr class="mt-5 mb-5 " style="visibility: hidden; ">
    <hr class="mt-5 mb-5" style="visibility: hidden; ">
    <hr class="mt-5 mb-5" style="visibility: hidden; ">
    <hr class="mt-5 mb-5 " style="visibility: hidden; ">
    <hr class="mt-5 mb-5" style="visibility: hidden; ">
    <hr class="mt-5 mb-5" style="visibility: hidden; ">
    <hr class="mt-5 mb-5" style="visibility: hidden; ">
 
