@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script type="text/javascript" src="~/js/Validadores.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" href="img/favicon.svg" type="image/svg" />
    <script src="https://kit.fontawesome.com/6a84b49c1b.js" crossorigin="anonymous"></script>

</head>

<style>
    #footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: 40px;
        background: grey;
    }
</style>

<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="background-color:deeppink">
        <div class="container-fluid rounded pt-3 pb-3" style="background-color:deeppink">

            <a class="navbar-brand" href="/Home/Index" style="color:white">Black Dress</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Lolita Kei
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/vestidos">Vestidos</a></li>
                            <li><a class="dropdown-item" href="/Home/Abrigos">Abrigos</a></li>
                            <li><a class="dropdown-item" href="/Home/blusas">Blusas</a></li>
                            <li><a class="dropdown-item" href="/Home/zapatos">Zapatos</a></li>
                            <li><a class="dropdown-item" href="/Home/accesorios">Accesorios</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a class="nav-link" href="/Home/carritodecompra">Carrito de compra</a></li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link " href="/Home/genpedprov">Administracion de Stock</a></li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a class="nav-link " href="/Home/Estadoconfecciones">Confecciones</a></li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link " href="/Home/bodega">Bodega</a></li>
                </ul>

                <form class="d-flex" method="post" action="indice/login" onsubmit="">
                    <input class="form-control me-2" type="text" placeholder="Rut" aria-label="Rut" required style="width:150px" name="rut" id="rut">
                    <input class="form-control me-2" type="password" placeholder="Password" aria-label="contraseña" required style="width:150px" name="pass" id="pass">
                    <input class="btn btn-light btn-outline-success" type="submit" value="Acceder" />
                    @ViewBag.mensaje
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a class="btn btn-light btn-outline-success ml-1" href="/Home/registrarse">Registarse</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <div id="carouselExampleIndicators" class="carousel slide rounded ml-3 mr-3" data-bs-ride="carousel " style="border-radius: 55px 55px 55px 55px; overflow: hidden; ">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/lolita2.png" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/img/lolita3.png" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/img/lolita4.png" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <br>

    <!--Body group cards -->
    <hr />

    <h4 class="h4 text-center">Novedades</h4>
    <hr />
    <br>

    <div class="card-deck mt-3 mb-3">
        <div class="card">

            <a href="Home/darksideprincessvintageclasiclolitaop"><img src="~/img/lolita/Thedarksideofprincessvintageclassiclolitaopdress1.jpg" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;"></a>

            <div class="card-body">
                <h5 class="card-title">The Darkside of princess vintage classic Lolita OP dress</h5>

            </div>
            <div class="card-footer">
                <small class="text-muted">$92.990</small>
            </div>
        </div>

        <div class="card">
            <a href="Home/Suzuyajacket"><img src="~/img/lolita/suzuya short black.jpg" class="card-img-top " style="width: 100%; height: 15vw; object-fit: cover; "></a>
            <div class="card-body">
                <h5 class="card-title">Suzuya Lolita Studio -The Cyber Princess- Lolita Jacket</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">$57.990</small>
            </div>
        </div>

        <div class="card">
            <a href="Home/themoontights"><img src="~/img/lolita/calcetas-moon/index-moon.jpg" class="card-img-top " style="width: 100%; height: 15vw; object-fit: cover;"></a>
            <div class="card-body">
                <h5 class="card-title">The Moon & the stars 100D velvet Lolita Tights</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">$9.990</small>
            </div>
        </div>
    </div>
    <div>
        <hr class="mt-5 mb-5 " style="visibility: hidden; ">
        <hr class="mt-5 mb-5" style="visibility: hidden; ">
        <hr class="mt-5 mb-5" style="visibility: hidden; ">
        <hr class="mt-5 mb-5 " style="visibility: hidden; ">
        <hr class="mt-5 mb-5" style="visibility: hidden; ">
        <hr class="mt-5 mb-5" style="visibility: hidden; ">
        <hr class="mt-5 mb-5 " style="visibility: hidden; ">
        <hr class="mt-5 mb-5" style="visibility: hidden; ">
        <hr class="mt-5 mb-5" style="visibility: hidden; ">
    </div>
</main>




<!-- end footer -->
