
@{
    ViewData["Title"] = "Bodega";
}

<h1 class="h1 text-center">Bodega</h1>
<br>
@Html.Raw(ViewBag.producto)
<img  class=img-fluid mb-3 style='width: 350px; height: 250px;' src="~/img/camisa.jpg">