
@{
    ViewData["Title"] = "Bodega";
}


<h1 class="h1 text-center">productos</h1>
<br>
<form method="post" action="/AdministracionStock/subir_producto">

    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>nombre producto</label>
                <input type="text" class="form-control w-75  mb-3" name="nombre_producto" maxlength="100" required />
            </div>
            <div class="col-md-6">
                <label>imagen</label>
                <input type="text" class="form-control w-75  mb-3" name="imagen" maxlength="10" required>
            </div>

            <div class="col-md-6">
                <label>tipo producto</label>
                <input type="text" class="form-control w-75  mb-3" name="tipo_producto" maxlength="35" required />
            </div>


            <div class="col-md-6">
                <label>color</label>
                <input type="text" class="form-control w-75  mb-3" name="color" maxlength="50" required /><br>

            </div>
            <div class="col-md-6">
                <label>talla</label>
                <input type="text" class="form-control w-75  mb-3" name="talla" maxlength="50" required /><br>

            </div>

            <div class="col-md-6">
                <label>precio</label>
                <input type="number" class="form-control w-75  mb-3" name="precio" maxlength="50" required/><br>

            </div>
            <div class="col-md-6">
                <label>Cantidad</label>
                <input type="number" class="form-control w-75  mb-3" name="cantidad" required /><br>

            </div>

            <div class="col-md-12">
                <label>descripcion</label>
                <textarea class="form-control" name="descripcion" maxlength="200" required rows="3" /></textarea>
            </div>
        </div>
    </div>
    <div class="col text-center">

        <button type="submit" class="btn btn-primary btn-lg m-3 cen">subir </button>
    </div>

</form>
