@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4 class="h4">Vestidos</h4>
<br>
<div class="card-group">
    <div class="card">
        <a href="/Home/sailoracademy"><img src="~/img/lolita/Junior sailor academy/portada.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">Cute Q. Junior Sailor Academy - sailor Lolita Short jacket and Jumper Dress</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$96.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/thesacredcollege"><img src="~/img/lolita/castletoo-the sacred college/castletoo-the scared college.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">CastleToo -The Sacred College- Gothic Ouji Lolita Cape, Blouse, Pants and Skirt</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$54.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/jiuweihusailorlolita"><img src="~/img/lolita/The mysterious Jiu weihu sailor lolita top wear/20c7a6679e.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                The Mysterious Jiu Weihu Sailor Lolita Top Wear and Skirt Set
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$41.990</small>
        </div>
    </div>
</div>
