
@{
    ViewData["Title"] = "Zapatos";
}

<h1 class="h1">Zapatos</h1>
<br>
<!--Body group cards -->

<h4 class="h4">Zapatos</h4>
<br>
<div class="card-group">
    <div class="card">
        <a href="/Home/sweetlolitashoes"><img src="~/img/lolita/sweet bows shoes/0f346de115.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">Sweet Bows Low Heels Lolita Shoes</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$26.990</small>
        </div>
    </div>
    <div class="card">
        <a href="/Home/highplatformskyblue"><img src="~/img/lolita/Sweet lolita high plattform sky blue/2b146bdb57.jpg.240x240.jpg" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title">
                Sweet High Platform Sky Blue with White Lolita Shoes
            </h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">$49.990</small>
        </div>
    </div>
</div>
