
@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>
<div class="container">
    <div class="col">
        <form class="form-control" action="@Url.Action("Agregar")" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <label>nombre producto</label>
                    <input type="text" class="form-control w-75  mb-3" name="nombre_producto" maxlength="100" required />
                </div>
                <div class="col-md-6">
                    <label>imagen</label>
                    <input type="file" class="form-control w-75  mb-3" name="imagen" maxlength="100" required>
                </div>

                <div class="col-md-6">
                    <label>tipo producto</label>
                    <input type="text" class="form-control w-75  mb-3" name="tipo_producto" maxlength="35" required />
                </div>


                <div class="col-md-6">
                    <label>color</label>
                    <input type="text" class="form-control w-75  mb-3" name="color" maxlength="50" required /><br>

                </div>
                <div class="col-md-6">
                    <label>talla</label>
                    <input type="text" class="form-control w-75  mb-3" name="talla" maxlength="50" required /><br>

                </div>
                <div class="col-md-6">
                    <label>Cantidad</label>
                    <input type="number" class="form-control w-75  mb-3" name="cantidad" required /><br>

                </div>

                <div class="col-md-12">
                    <label>descripcion</label>
                    <textarea class="form-control" name="descripcion" maxlength="200" required rows="3" /></textarea>
                </div>
            </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg m-3 cen">subir </button>
        </div>
       </form>
    </div>
</div>


